a {
    color: white;
    text-decoration: none;
}

a:hover, a:active {
    color: lightgray;
}

.dogadjaji {
    margin-top: 5em;
    margin-left: 35em;
    margin-right: 45em;
}

#nemaRezervacija {
    margin-top: 5em;
}
